# Ignore everything
*

# But not Java files...
!.gitignore
!*.java

# And CI
!.travis.yml
!build.gradle.kts
!gradlew
!LICENSE
!README.md
!LOADTEST.md
!results/*.svg
!settings.gradle

# ...even if they are in subdirectories
!*/
